[user]
	email = carmelo.piccione@gmail.com
	name = carm
[push]
	default = matching
[alias]
	ci = commit
	co = checkout
	st = status
	webui = !/home/carm/.git-webui/release/libexec/git-core/git-webui
[core]
	editor = nvim
[webui]
	autoupdate = true
